<div class = "new-recipe-create">
  <div class="container">
    <form method="POST" action="/new" class="m-auto" style="max-width:600px">
      <h3 class="my-4">Create New Recipe</h3>
      <hr class="my-4" />
      <div class="form-group mb-3 row"><label for="recipe-title2" class="col-md-5 col-form-label">Recipe Title</label>
        <div class="col-md-7"><input type="text" class="form-control form-control-lg" id="recipe-title2" name="recipe-title" required></div>
      </div>
      <div class="form-group mb-3 row"><label for="description3" class="col-md-5 col-form-label">Description</label>
        <div class="col-md-7"><textarea class="form-control form-control-lg" id="description3" name="description" required></textarea></div>
      </div>
      <div class="form-group mb-3 row"><label for="recipe-rating4" class="col-md-5 col-form-label">Recipe Rating</label>
        <div class="col-md-7"><input type="text" class="form-control form-control-lg" id="recipe-rating4" name="recipe-rating" required></div>
      </div>
      <div class="form-group mb-3 row"><label for="prepare-time5" class="col-md-5 col-form-label">Prepare Time</label>
        <div class="col-md-7"><input type="text" class="form-control form-control-lg" id="prepare-time5" name="prepare-time" required></div>
      </div>
      <hr class="my-4" />
      <div class="form-group mb-3 row"><label for="submit7" class="col-md-5 col-form-label"></label>
        <div class="col-md-7"><button class="btn-link" type="submit">Submit</button></div>
      </div>
    </form>
  </div>
</div>